body {
  font-family: sans-serif;  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#webgi-canvas {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: fixed;
  margin-left: 300px;
  z-index: -1;
  top: 0;
}

#webgi-canvas-container{
  width: 100vw;
  height: 100vh;

}
.section-container-left{
  width: 360px;
  margin-left: 15%;
}

.section{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.buy-now {
  color: white;
  border-radius: 30px;
  background-color: #212529;
  width: 9rem;
}

.explore {
  color: #212529;
  font-weight: 800;
  border-radius: 30px;
  background-color: #b9e311;
  width: 10rem;
  font-size: 0.8rem;
}

.first h1{
  font-size: 10rem;
  line-height: 8rem;
  letter-spacing: -0.3rem;
  width: 50%;
  margin: 0 0 30px -10px;
  font-weight: 700;
}

h2 {
  font-weight: 800;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.rem;
  width: 50%;
  margin: 0 0 30px -10px;
  font-weight: 800;
}

.section-container-right {
  width: 360px;
  margin-right: 15%;
}

